name: DevOps CI-CD Pipeline

on:
  push:
    branches: [ "main" ] # Trigger whenever we push to the main branch

jobs:
  test-and-build:
    runs-on: ubuntu-latest # The GitHub-hosted runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies and Run Tests
        run: |
          pip install -r requirements.txt
          pytest

      - name: Log in to Docker Hub
        # This is where we store our credentials securely (Secrets)
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: johnxyn/ci_cd_python:latest